{% extends 'base.html' %}
{%block title%} Admin{%endblock%}

{%block content%}
<style>
    .s{
        color:blue;

    }
    .s:hover{
        cursor: pointer;
    }
</style>






<h1 class="heading1">Admin-Login-Page</h1>
<center>
    <a href="/admin?page=editor" style="margin-right:5%">Editor</a>
    <a href="/admin?page=verify" style="margin-right:5%">Verify</a>
    <a href="/admin?page=logs" style="margin-right:5%">Logs</a>


</center>

{%if error%}
<div class="error-box" name="fadeOut">
    {{error}}
</div>

{%endif%}


{%if not login%}
<form method="POST">
    <div class="mb-2">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="pwd" value="{{pwd}}">
    </div>
 
      
  
    <button type="submit" class="btn btn-primary mb-3 register" id="login">Login</button>
    
  </form>
{%endif%}
{%if login%}

{%if page1%}
<h2 class="heading-modal">Editor Data DB</h2>

<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Filename</th>
      <th scope="col">Editor Data</th>
    </tr>
  </thead>
  <tbody>
{% for i in filename %}


    
      <tr>
        <th scope="row">{{ids[loop.index-1]}}</th>
        <td>{{i}}</td>
        <td>{{filename[loop.index-1]}}</td>
        <td id="{{loop.index}}" data="{{editor_data[loop.index-1]}}"><a class="s" onclick="SwitchView('{{loop.index}}')">Show</a></td>

      </tr>
  
{% endfor %}
</tbody>

</table>
{%endif%}


{%if page2%}
<h2 class="heading-modal">Verify For Dropbox DB</h2>

<table class="table table-dark">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Use Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
{% for i in email %}


    
      <tr>
        <th scope="row">{{ids[loop.index-1]}}</th>
        <td id="email-{{loop.index}}">{{i}}</td>
        <td>{{use_email[loop.index-1]}}</td>
        <td>
            <p class="edits" style="display:inline" id="edit-{{loop.index}}">{{status[loop.index-1]}}</p>
            <button class="edit-btn" type="submit" id="edit-button-{{loop.index}}" onclick="MakeEditable('edit-{{loop.index}}')"><i class="fa-solid fa-pen"></i></button>
            <button class="end-btn" type="submit" id="end-button-{{loop.index}}" onclick="StopEditable('edit-{{loop.index}}')"><i class="fa-solid fa-check"></i></button></td>

      </tr>
  
{% endfor %}
</tbody>

</table>
{%endif%}
























{%endif%}
<script src="/static/js/admin.js"></script>


{%endblock%}