{% extends 'base.html' %}


{% block title %} Notes  {% endblock %}

{% block content %}


{% if not username %}
<a href="/signup" class="first">Signup/Login to open your notes </a>
{% endif %}


{% if username %}
yooo u logged {{username}}
{% if error %}
<div class="error-box" name="fadeOut">
  {{error}}
</div>
{% endif %}

{% if success %}
<div class="success-box" name="fadeOut">
  {{success}}
</div>
{% endif %}

<form method="POST">
    <input type="text" name="filename" placeholder="Enter your filename">
    <input type="submit" value="Create File">    
</form>
<div class="pe">e.g, "mynotes"</div>


<h2>Your Files</h2>

<div class="error" id="error" name="fadeOut"></div>
{% set a = 0 %}
{% for i in files %}

<div class="files">
  
  <p class="edits" style="display:inline" id="edit-{{loop.index}}">{{i}}</p>
  <button class="edit-btn" type="submit" id="edit-button-{{loop.index}}" onclick="MakeEditable('edit-{{loop.index}}')"><i class="fa-solid fa-pen"></i></button>
  <button class="end-btn" type="submit" id="end-button-{{loop.index}}" onclick="StopEditable('edit-{{loop.index}}')">Done</button>

<div class="files-icons">
<a href="#"><i class="fa-sharp fa-solid fa-eye"></i></a>
<a href="#"><i class="fa fa-solid fa-trash"></i></a>
<a href="#"><i class="fa-sharp fa-solid fa-file-pen"></i></a>
</div>


</div>
{% endfor %}




{% endif %}


<script src="/static/js/stuff.js"></script>
{% endblock %}