{% extends 'base.html' %}
{%block title%}My Media{%endblock%}

{%block content%}
<h1 class="heading-modal">Upload Images And Vids</h1>
<div class="small-info">
    Page to Upload files to DropBox and get their link to embed in editor
    </div>
{%if use==True %} 
{% if token %}
yay 
{%endif%} 

{% if not token %}

<a href="https://www.dropbox.com/oauth2/authorize?client_id=8upjaiafj0gq7hh&redirect_uri=http://localhost:5000/media&response_type=code&token_access_type=offline">Login With DropBox</a>


{%endif%}
<!-- <img src="https://www.dropbox.com/s/4rgz7y3v1309hj1/Default.png?raw=1"> -->
{%endif%}

{%if use == 'pending' %}
<h1 class="heading-modal">On Pending state waiting for approval</h1>
{%endif%}

{%if use==False%}



<form method="POST">
    
    <div class="small-info">This app is in developenment mode Enter email of your dropbox account</div>
    {%if error%} 
    <div class="error-box" name="fadeOut">{{error}}</div>
    {%endif%}
    <div class="mb-2">
    
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter Email">
    </div>
 
      
  
    <button type="submit" class="btn btn-primary mb-3 register" id="login">Submit</button>
    
  </form>

{%endif%}

{%endblock%}


<!-- https://www.dropbox.com/oauth2/authorize?client_id=479mg1ei5wx7ura&redirect_uri=http://localhost:5000/media&response_type=code&token_access_type=offline -->

<!-- 1mM8E2zfPSggUJTs5XPgTeuHzgllNAfAP/ -->